@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fffffa;
    margin: 100px 0px;
    overflow-x: hidden;
}

h1 {
    margin: 25px 10% 100px auto;
    width: 65%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 150px;
    overflow: hidden;
}

h2 {
    margin: 25px 10% 25px auto;
    width: 65%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 75px;

}

p {
    margin: 25px 10% 50px auto;
    width: 65%;
    font-size: x-large;
}

ol > li {
    margin: 10px auto 0px auto;
    width: 50%;
    list-style-type: decimal;
    list-style-position: inside;
    font-size: x-large;
}

ul > li {
    margin: 10px auto 0px auto;
    width: 50%;
    list-style-type: disc;
    list-style-position: inside;
    font-size: x-large;
}