@tailwind base;
@tailwind components;
@tailwind utilities;

/*copy repeated parts along all sections using tailwind*/
body {
    background-color: white;
    margin: 50px 0px;
    overflow-x: hidden;
}

h1 {
    margin: 25px 8% 100px auto;
    width: 65%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 150px;
    overflow: hidden;
}

h2 {
    margin: 25px 8% 25px auto;
    width: 65%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 75px;

}

p {
    margin: 25px 8% 50px auto;
    width: 65%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 50px;
}

ol > li {
    margin: 10px 8% 0px auto;
    width: 65%;
    list-style-type: decimal;
    list-style-position: inside;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul > li {
    margin: 10px 8% 0px auto;
    width: 65%;
    list-style-type: disc;
    list-style-position: inside;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    padding: 5px 50px 0px 75px;
    list-style-type: decimal;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}